$green : #5bb254;

body{
    background-color: #f5f7f7;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color:#000;
}
.container{
    max-width: 960px;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
}
#container-numero-caratteri > p{
    display: inline-block;
}


#genera  , #copia{
    color: #fff;
    padding: 5px 15px;
    box-shadow: 5px 5px 10px #fff;
    background-color: $green;
    border-radius: 5px;
    font-size: 1.1rem;
    border:2px solid #fff;
}
#genera:hover  ,#copia:hover{
    background-color: rgba($green,0.8);
    cursor: pointer;
}

#textGenerated{
    border:2px solid $green;
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 5px
}
